
         /* Основные стили для тела документа */
        body {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;  /* Шрифт для текста */
            margin: 10%;  /* Отступы со всех сторон */
            color: #FFFFFF;  /* Цвет основного текста */
            line-height: 1.6;  /* Межстрочное расстояние */
            background: linear-gradient(33deg, #011749, #00424E, #003C0D); /* Фоновый градиент */
            animation: Gradient 15s ease infinite;  /* Анимация для градиента */
            background-size: 200% 100%;             /* Размер фонового градиента */

        }


        /* Общие стили для элементов b1, b3 и p */
        b1, b3, p {
            transition: transform 0.6s, color 5.3s;  /* Анимация изменения цвета текста и масштабирования */
        }

        /* Стили при наведении на элементы b1, b3 и p */
        b1:hover, b3:hover, p:hover {
            transform: scale(1.03);  /* Увеличение элемента */
            color: #E3E3E3;  /* Изменение цвета текста при наведении */
        }

        /* Стили для элемента b1 */
        b1 {
            font-size: 24px;  /* Размер шрифта */
<!--            display: block;  /* Элемент отображается как блок */-->
            margin-bottom: 10px;  /* Отступ снизу */
            margin-top: 30px;  /* Отступ сверху */
            font-weight: bold;  /* Жирное начертание текста */
            color: #E6B9B9;  /* Цвет текста */
<!--            border-bottom: 3px solid #F5E7E7;  /* Граница снизу */-->
            padding-bottom: 5px;  /* Внутренний отступ снизу */
        }

        /* Стили для элемента b3 */
        b3 {
            font-size: 18px;  /* Размер шрифта */
            display: block;  /* Элемент отображается как блок */
            margin-top: 10px;  /* Отступ сверху */
            margin-bottom: 20px;  /* Отступ снизу */
            font-weight: bold;  /* Жирное начертание текста */
            color: #F5E7E7;  /* Цвет текста */
        }

        /* Стили для элемента p */
        p {
            font-size: 16px;  /* Размер шрифта */
            margin-bottom: 20px;  /* Отступ снизу */
            text-align: justify;  /* Выравнивание текста по ширине */
            border-left: 2px solid #F5E7E7;  /* Граница слева */
            padding-left: 15px;  /* Внутренний отступ слева */
        }

        /* Стили для индикатора цвета */
        #colorIndicator {
            position: fixed;  /* Фиксированное положение */
            top: 10px;  /* Расстояние от верхнего края */
            right: 10px;  /* Расстояние от правого края */
            width: 30px;  /* Ширина элемента */
            height: 30px;  /* Высота элемента */
            border-radius: 50%;  /* Форма круга */
            background: linear-gradient(45deg, #e8f5e9, #f3e5f5);  /* Фоновый градиент */
        }
