body {
	margin: 0;
	padding: 0;
	font-size: 18px;
	color: black;
	background: white;
}

.mario {
/* Layout Properties */
top: 383px;
left: 344px;
width: 392px;
height: 392px;
/* UI Properties */
background: transparent url('img/Mario.png') center center no-repeat padding-box;
background-size: 100%;
box-shadow: 0px 15px 15px #00000029;
border: 3px solid #27A7E7;
border-radius: 50px;
opacity: 1;
transition: transform 0.3s; /* Плавное изменение стиля при наведении */

}

.albert {
/* Layout Properties */
top: 1024px;
left: 344px;
width: 392px;
height: 392px;
/* UI Properties */
background: transparent url('img/Albert.png') center center no-repeat padding-box;
background-size: 100%;
box-shadow: 0px 15px 15px #00000029;
border: 3px solid #27A7E7;
border-radius: 50px;
opacity: 1;
transition: transform 0.3s; /* Плавное изменение стиля при наведении */
}



.container {
    width: 100%;
    max-width: 1080px; /* Максимальная ширина контейнера */
    margin: 0 auto; /* Горизонтальное выравнивание по центру */
    padding: 20px; /* Добавляем отступы по краям */
    box-sizing: border-box; /* Учитываем отступы и границы в общей ширине */
}


.inner {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 200px 200px 200px;
	display: flex;
    flex-direction: column; /* Устанавливаем вертикальное расположение элементов */
    align-items: center; /* Центрируем элементы по горизонтали */
}

.item {
	text-align: center;
	border: 10px black;
	border-radius: 1%;
	background-color: whitesmoke;
	display: flex;
    flex-direction: column; /* Устанавливаем вертикальное расположение элементов */
	margin-bottom: 60px; /* Добавляем отступ между блоками */
    text-align: center; /* Выравниваем содержимое по центру */
}

.btn {
	display: inline-block;
	padding: 10px 20px;
	border: none;
	background: rgb(0, 51, 102);
	border-radius: 10px;
	color: wheat;
	text-transform: uppercase;
	font-weight: 700;
	transition: background .2s linear;

}

.btn:hover {
	background: red;
}


/* Медиа-запрос для адаптации на узких экранах (например, мобильных устройствах) */
@media screen and (max-width: 768px) {
    .inner {
        grid-template-columns: 1fr; /* Один столбец на узких экранах */
    }
}