/* Основные стили для body */
body {
    font-family: 'Verdana', sans-serif;      /* Шрифт */
    padding: 1rem;                          /* Отступы */
    background: linear-gradient(33deg, #011749, #00424E, #003C0D); /* Фоновый градиент */
    background-size: 600% 100%;             /* Размер фонового градиента */
    color: #fff;                            /* Цвет текста */
    height: 100vh;                          /* Высота */
    animation: Gradient 12s ease infinite;  /* Анимация для градиента */
}

/* Анимация для градиента фона */
@keyframes Gradient {
    0%, 100% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
}

/* Стили для формы */
form {
    max-width: 600px;                       /* Максимальная ширина */
    margin: 0 auto;                         /* Выравнивание по центру */
    background: rgba(0, 0, 0, 0.5);         /* Фон с прозрачностью */
    padding: 2rem;                          /* Отступы */
    border-radius: 15px;                    /* Скругление углов */
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2); /* Тень */
}

/* Общие стили для заголовков h2 и legend */
h2, legend {
    font-weight: 500;                       /* Жирность шрифта */
    text-transform: uppercase;              /* Преобразование текста в верхний регистр */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Тень текста */
    background-color: #ffffff; /* Фоновый градиент */
    -webkit-background-clip: text;          /* Клипирование фона */
    color: transparent;                     /* Цвет текста */
}

/* Стили для заголовка h2 */
h2 {
    margin: 1rem 0 1.8rem;                  /* Отступы */
    letter-spacing: 1px;                    /* Расстояние между символами */
    font-size: 1.5rem;                        /* Размер шрифта */
    text-align: center;                     /* Выравнивание текста по центру */
    border-bottom: 3px dotted #fff;         /* Граница снизу */
    padding-bottom: 10px;                   /* Отступ снизу */
}

/* Стили для legend */
legend {
    margin-bottom: 1rem;                    /* Отступ снизу */
    letter-spacing: 1.5px;                 /* Расстояние между символами */
    font-size: 1rem;                      /* Размер шрифта */
}

/* Стили для групп элементов формы */
.form-group {
    margin-bottom: 0.5rem;                  /* Отступ снизу */
}

/* Стили для чекбоксов и радиокнопок */
.form-check {
    margin-bottom: 0.5rem;                    /* Отступ снизу */
    display: family;                          /* Тип дисплея */
    align-items: center;                    /* Выравнивание элементов по вертикали */
}

/* Стили для input'ов чекбоксов и радиокнопок */
.form-check-input {

    cursor: pointer;                        /* Курсор в виде руки */
    border: 4px solid #ffffff;                 /* Граница */
    background: transparent;                /* Фон */
}

/* Стили для меток чекбоксов и радиокнопок */
.form-check-label {
    cursor: pointer;                        /* Курсор в виде руки */

}



/* Стили для основных полей ввода */
.form-control {
    width: 100%;                            /* Ширина */
    padding: 0.1rem 1rem;                   /* Отступы */
    font-size: 1rem;                        /* Размер шрифта */
    border: 1px solid #fff;                 /* Граница */
    border-radius: 5px;                    /* Скругление углов */
    background-color: rgba(255, 255, 255, 0.2); /* Фон */
    transition: all 0.25s ease-in-out;      /* Переход (анимация) */
    color: #fff;                            /* Цвет текста */
}

/* Стили для placeholder'ов полей ввода */
.form-control::placeholder {
    color: rgba(255, 255, 255, 0.7);         /* Цвет текста */
}

/* Стили для полей ввода при фокусе */
.form-control:focus {
    border-color: #ffffff;                  /* Цвет границы */
    box-shadow: 0 0 10px rgba(0, 168, 255, 0.5); /* Тень */
    background-color: rgba(111, 111, 255, 0.1);    /* Фон */
}

/* Стили для полей ввода при наведении */
.form-control:hover {
    box-shadow: 0 0 20px #FFFFFF, 0 0 10px #FFFFFF; /* Тень */
}

.btn {
    display: flex; /* Изменил на flex для корректного выравнивания */
    justify-content: center; /* Горизонтальное выравнивание по центру */
    align-items: center; /* Вертикальное выравнивание по центру */
    padding: 0.5rem 0.5rem;
    font-size: 1.1rem;
    font-weight: 600;
    color: #FFFFFF;
    background-color: #004033;
    border: double 4px transparent;
    border-radius: 10px; /* Исправил ошибку синтаксиса, добавил значение */
    width: 100%; /* Установил ширину */
    margin-bottom: 8%
}

.link_p {
    display: flex; /* Изменил на flex для корректного выравнивания */
    justify-content: center; /* Горизонтальное выравнивание по центру */
    align-items: center; /* Вертикальное выравнивание по центру */
    padding: 0.5rem 0.5rem;
    font-size: 1rem;
    font-weight: 200;
    color: #FFFFFF;
    background-color: #A30000;
    border: double 1px transparent;
    border-radius: 60px; /* Исправил ошибку синтаксиса, добавил значение */
    width: 100%; /* Установил ширину */

}
